.text {
    font-size: 15px;
    fill: blue;
}

.tick text {
    fill: red !important;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 180px;

  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.barYAxisline{
	stroke-opacity: 0.25;
	stroke-dasharray: 4, 4;
	pointer-events: none;
}
